[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Moby Project - a collaborative project for the container ecosystem to assemble container-based systems
[access "refs/*"]
	owner = group user/Phil Sphicas (philsphicas)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Phil Sphicas (philsphicas)
	label-Verified = -1..+1 group user/Phil Sphicas (philsphicas)
	push = group user/Phil Sphicas (philsphicas)
	read = group user/Phil Sphicas (philsphicas)
	rebase = group user/Phil Sphicas (philsphicas)
	removeReviewer = group user/Phil Sphicas (philsphicas)
	submit = group user/Phil Sphicas (philsphicas)
[access "refs/heads/*"]
	create = group user/Phil Sphicas (philsphicas)
	push = +force group user/Phil Sphicas (philsphicas)
	pushMerge = group user/Phil Sphicas (philsphicas)
	read = group user/Phil Sphicas (philsphicas)
[access "refs/tags/*"]
	push = group user/Phil Sphicas (philsphicas)
	push = +force group user/Phil Sphicas (philsphicas)
